.container{
  background-color: #1E194D;
  width: 40%;
 
  margin: auto;
  
  margin-top: 8%;

  
}


.headbutton{
  
  background-color: #1E194D;
  color: white;
  border: 0;
  border-radius: 3px;
  width: 50%;
  cursor: pointer;
  
}
.head{
  display: flex;
}
.top{
  padding: 10px 5px;
  background-color: #fff;
}

.inputs{
  
  height: 5vh;
  width: 50%;
  
}
.info{
  padding-bottom: 5%;
  
}

.info-top img{
   display: flex;
   
  
    width: 30vh;
    margin: auto;
    padding: 10%;
    border-radius: 80px;
   
}

.info-bottom{
  
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-left: 8%;
 
}
.info-bottom button{
  background-color: #5D48E8;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 1% 1%;
 
  width: 200px;
  padding: 10px 10px;
  height: 50px;
  letter-spacing: 1px;
  overflow: hidden

}

@media screen and (max-width:800px){
  .info-bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh; 
   
  }
  .info-bottom{
  
    margin: auto;
    padding-left: 0px;
     
    }
    .container{
      background-color: #1E194D;
      width: fit-content;
     
      margin: auto;
      
      /* margin-top: 8%; */
    
      
    }
}
